{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block page_content %}
<body>
    <div style="margin-top: 20%; margin-bottom: 10%" class="container">
        <table id="courses-table" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Number</th>
                <th>Course ID</th>
                <th>Course Title</th>
                <th>Course Name</th>
                <th>Section Code</th>
                <th>Course Department</th>
                <th>Instructor Name</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ course.course_id }}</td>
                    <td>{{ course.course_title }}</td>
                    <td>{{ course.course_name }}</td>
                    <td>{{ course.course_section_code }}</td>
                    <td>{{ course.course_department }}</td>
                    <td>{{ course.course_instructor_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Number</th>
                <th>Course ID</th>
                <th>Course Title</th>
                <th>Course Name</th>
                <th>Section Code</th>
                <th>Course Department</th>
                <th>Instructor Name</th>
            </tr>
        </tfoot>
    </table>
    </div>
</body>
    <script>
        $(document).ready(function() {
            $('#courses-table').DataTable();
        } );
    </script>
{% endblock %}
</html>
