<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container" style="width: 50%; margin-top: 15%; ">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
              <div class="form-group">
                <label for="id_username">Username</label>
                <input type="text" class="form-control" id="id_username" name="username" >
              </div>
              <div class="form-group">
                <label for="id_password">Password</label>
                <input type="password" class="form-control" id="id_password" name="password">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
